// Couleurs communes
$white: #fff;
$black: #000000;
$blue: #00a3b6;
$gray: #707070;
$lightGray: #a0a0a0;
$veryLightGray: #f0f0f0;
$disabled: #c0c0c0;
$red: #ec5952;
$green: #1ed0a1;
$orange: #f3b257;
$purple: #7864f6;
$border-color: #f0f0f0;
